form {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1rem;
}

input,
select {
  margin-bottom: 0;
}

table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
}

td,
th {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.b-none {
  display: none;
}
